#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 33vh;
}

body {
  background-color: #252423;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.input-div {
  display: flex;
  gap: 15px;
  justify-content: center;
}

span {
  color: white;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.red {
  color: #ff4b4b;
}

.yellow {
  color: #ffa828;
}

.green {
  color: #57f695;
}

.blue {
  color: #05dbe9;
}

.affix {
  padding-bottom: 5px;
  border-bottom: 5px white solid;
}

.token-wrapper {
  position: relative;
}

.token {
  cursor: pointer;
}

.token-wrapper:hover .token {
  transform: scale(1.3);
}

.tooltip {
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  background: #000000;
  color: #ffffff;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.token-wrapper:hover .tooltip {
  opacity: 1;
}

.tooltip-desc {
  font-size: 20px;
  opacity: 0.85;
}

.form-div {
  padding-top: 5vh;
}
