#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #252423;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.input-div {
  display: flex; 
  gap: 10px;
  justify-content: center;
}

span {
  color: white;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.red {
  color: #ff4b4b
}

.yellow {
  color: #ffa828
}

.green {
  color: #57f695;
}

.blue {
  color: #05dbe9;
}

.affix {
  padding-bottom: 5px;
  border-bottom: 5px white solid;
}