#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #252423;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

span {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.red {
  color: #ff4b4b
}

.yellow {
  color: #ffa828
}

.green {
  color: #57f695;
}

.blue {
  color: #05dbe9;
}
.affix {
  text-decoration: underline;
}